<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <img src="assets/icon/logo.png" alt="logo" routerLink="/menu" style="cursor: pointer;">
    <div class="header-title">
      <p></p>
      <p></p>
    </div>
    <div class="icon-header" style="margin-left: auto;">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-icon
        name="log-out-outline"
        (click)="logoutConfirm()"
        style="cursor: pointer;">
      </ion-icon>
    </div>
  </div>
  <div class="container">
    <h3>Informasi</h3>
    <div class="detail-card">
      <div class="info-row">
        <span class="label">No Antrian:</span>
        <span class="value">23</span>
      </div>
      <div class="info-row">
        <span class="label">Poli:</span>
        <span class="value">Poli Umum</span>
      </div>
      <div class="info-row">
        <span class="label">Nama Pasien:</span>
        <span class="value">Budi Santoso</span>
      </div>
      <div class="info-row">
        <span class="label">Status:</span>
        <span class="value">Terdaftar</span>
      </div>
      <div class="info-row">
        <span class="label">Waktu Pendaftaran:</span>
        <span class="value">17 Juni 2025 09:00</span>
      </div>
    </div>


    <div class="footer-card">
      © SEHATIN
    </div>
  </div>
</ion-content>